@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
body {
    background-color: rgb(193, 230, 173);
} 
h1 {
    background-color: rgba(0, 162, 255, 0.656);
    text-align: center;
}
p {
    font-family: "Sofia", sans-serif;
}
.menu {
    border: 2px solid black;
    border-radius: 8px;
    padding: 5px;
}